<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.it015.mediacovidapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaCovidApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.admin.AddVideo"/>
        <activity android:name=".activity.admin.SaveVideo"/>
        <activity android:name=".activity.admin.PesanPage"/>
        <activity android:name=".activity.admin.DetailVideo"/>
        <activity android:name=".activity.admin.Video"/>
        <activity android:name=".activity.admin.Dashboard" />
        <activity android:name=".activity.admin.MessageRegistrasi"/>
        <activity android:name=".activity.Home"/>
        <activity android:name=".activity.admin.Registasi"/>
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.admin.Pengguna"/>
        <activity android:name=".activity.Welcome" />
        <activity android:name=".activity.ProfilUser"/>
        <activity android:name=".activity.admin.ProfilAdmin" />
        <activity android:name=".activity.DetailVideoUser" />
        <activity android:name=".activity.KomentarUser"/>
        <activity android:name=".activity.SheetView" />

    </application>

</manifest>